body {
  overflow-x: hidden;
}
.container.container-main,
.container-fluid.container-main,
.container-lg.container-main,
.container-md.container-main,
.container-sm.container-main,
.container-xl.container-main,
.container-xxl.container-main {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 1349px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1349px;
  }
}
.sidebar-container {
  background: #662323;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 0;
  padding-right: 0;
}
.content-container {
  padding: 0;
}
.sidebar-header {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 5%;
}
.logo-header {
  height: 10vh;
  width: auto;
}
.sidebar-links {
  font-family: "Quicksand";
  color: white;
}
.list-links-header {
  font-size: 1.5rem;
}
.side-bar-link {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}
.side-bar-link:hover {
  color: gray;
}
.active {
  border-left: solid 15px #e86060;
  padding-left: 25px;
}
.active > a {
  color: #e86060;
}
.active > a:hover {
  color: #e86060;
}
.sidebar-links > ul > p,
li {
  padding-left: 40px;
}
.content-container-title {
  color: #e86060;
  font-family: "Quicksand";
  font-size: 2rem;
  padding-left: 2.2rem;
}
.container-cards {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.card {
  border: none;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.card-icons {
  font-size: 3rem;
  color: white;
}
.card-col {
  padding-bottom: 1%;
}
.card-body {
  font-family: "Quicksand";
}
.card-title {
  font-weight: bold;
  font-size: 1.2rem;
}
.text-primary {
  color: grey !important;
}
.card-img-top {
  position: relative;
  text-align: center;
}
.link {
  position: absolute;
  top: 35%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.footer {
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eb5757;
  color: white;
  text-align: center;
  z-index: 10000;
}
.footer-col {
  vertical-align: middle !important;
}
.player-img {
  height: 100px;
  width: auto;
}
.player-detail-img,
.player-detail-name {
  text-align: left;
}
.player-title,
.player-album {
  color: white;
  font-family: "Quicksand";
}
.player-title {
  font-weight: bold;
  padding-top: 6%;
  margin-bottom: 0.2%;
  font-size: 1.1rem;
}
.player-album {
  font-size: 1rem;
}
/* Moto G4 */
@media (max-width: 360px) {
  .player-detail-img {
    width: 105px;
  }
  .player-detail-name {
    width: 80px;
    line-height: 0.7rem !important;
  }
  .player-resource {
    width: 90px;
  }
  audio {
    width: 65% !important;
  }
  audio::-webkit-media-controls-timeline{
    display: none;
  }
  .player-title {
    padding-top: 1rem!important;
    font-size: 1.5vh !important;
  }
  .player-album {
    font-size: 1vh !important;
  }
}
/* Pixel 2 */
@media (max-width: 411px) {
  .player-detail-img {
    width: 105px;
  }
  .player-detail-name {
    width: 80px;
    line-height: 0.7rem !important;
  }
  .player-resource {
    width: 90px;
  }
  audio {
    width: 65% !important;
  }
  audio::-webkit-media-controls-timeline{
    display: none;
  }
  .player-title {
    padding-top: 1rem!important;
    font-size: 1.5vh !important;
  }
  .player-album {
    font-size: 1vh !important;
  }
}
/*iPhone 5 */
@media (max-width: 320px) {
  .player-detail-img {
    width: 105px;
  }
  .player-detail-name {
    width: 60px;
    line-height: 0.6rem !important;
  }
  .player-resource {
    width: 100px;
  }
  audio {
    width: 60% !important;
  }
  audio::-webkit-media-controls-timeline{
    display: none;
  }
  .player-title {
    padding-top: 1rem!important;
    font-size: 1.5vh !important;
  }
  .player-album {
    font-size: 1vh !important;
  }
}
/*iPhone 6 PLUS */
@media (max-width: 414px) {
  .player-detail-img {
    width: 105px;
  }
  .player-detail-name {
    width: 70px;
    line-height: 0.6rem !important;
  }
  .player-resource {
    width: 100px;
  }
  audio {
    width: 60% !important;
  }
  audio::-webkit-media-controls-timeline{
    display: none;
  }
  .player-title {
    padding-top: 1rem!important;
    font-size: 1.5vh !important;
  }
  .player-album {
    font-size: 1vh !important;
  }
}
